* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

::-moz-selection {
    /* Code for Firefox */
    color: #112240;
    background: #FAAB00;
}

::selection {
    color: #112240;
    background: #FAAB00;
}

body {
    background-color: #112240;
    text-align: center;
}

.boddy {
    position: relative;
    top: 10vh;
}

.container {
    width: 75vw;
    height: 25vh;
    margin: auto;
    border-radius: 10vw;
}

p {
    color: white;
    font-size: 30px;
}

#fname {
    background-color: #468AFF;
    border: 0;
    width: 25vw;
    border-radius: 10vw;
    text-align: center;
    font-size: 50px;
    color: white;
}

#button {
    background-color: #3468C2;
    border: 0;
    width: 10%;
    padding: 0.25vw;
    border-radius: 1vw;
    font-size: 20px;
    color: white;
}

#button:hover {
    background-color: #3E7BE6;
    cursor: pointer;
}

#result {
    background-color: #468AFF;
    width: 90%;
    min-height: 65%;
    padding: 1vw;
    border-radius: 10vw;
    margin: auto;
    color: white;
    font-size: 37px;
}
